<header>
  <mat-toolbar color="primary" style="background-color: #000000;">
    <button mat-icon-button [routerLink]="['/']">
      <mat-icon>
        home
      </mat-icon>
    </button>
    <!-- <a mat-flat-button color="primary" [routerLink]="['/fetch-data']">
      Fetch Data
    </a> -->
    <a mat-flat-button color="primary" style="background-color: #109922;" [routerLink]="['/songs']">
      Songs
    </a>
    <a mat-flat-button color="primary" style="background-color: #109922;" [routerLink]="['/playlists']">
      Playlists
    </a>
    <span class="separator"></span>
    @if (isLoggedIn){
      <a mat-flat-button color="primary" style="background-color: #109922;" (click) = "onLogout()">Logout</a>
    }
    @else{
      <a mat-flat-button color="primary" style="background-color: #109922;" [routerLink]="['/login']">Login</a>
    }
    <!-- <a mat-flat-button color="primary" [routerLink]="['/login']">Login</a> -->
  </mat-toolbar>
  </header>