<h1>
    Playlists
</h1>
<p>Click the Id to get a list of songs in the playlist</p>
<table class = "table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Creator</th>
        </tr>
    </thead>
    <tbody>
        @for (Playlist of playlists; track $index) {
            <tr>
                <td>
                    <a [routerLink] = "['/playlistSongs', Playlist.playlistId]">{{Playlist.playlistId}}</a>
                </td>
                <td>{{Playlist.name}}</td>
                <td>{{Playlist.creator}}</td>
            </tr>
        }
    </tbody>
</table>
