<h1>
    Songs
</h1>
<p>Here are all our Songs</p>
<table class = "table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Artist</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @for (Song of songs; track $index) {
            <tr>
                <td>{{Song.songId}}</td>
                <td>{{Song.title}}</td>
                <td>{{Song.artist}}</td>
                <td>{{Song.genre}}</td>
            </tr>
        }
    </tbody>
</table>